@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  color:black;
}

.App {
  text-align: center;
  width: 98vw;
  height: 98vh;
  margin: 1vh;
}

@media(max-width:1500px) {

  .flexSearch{
    display:flex;
  }
  .flexFix {
    display: flex;
  }

  .emailimg{
    width:0;
  }
  .search_bar {
    background-image:url(../images/icon_calender.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 15px;
    padding:0 20px 0 50px;
    margin-left: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
  }

  .Search_Container {
    width: 60px;
    height: 43px;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #c7c7c7;
  }

  .Search{
    width: 23px;
  }
  
.Resultscon {
  vertical-align: super; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
}

.results{
  padding-top:7px;
}

.resultslen {
  vertical-align: super; 
  font-size: 25px;
 font-weight: 900;
}

.mailslen{
  padding-top: 7px;
}
.EmailContainer{
  font-family: 'Roboto', sans-serif;
  margin: 0 40px 100px 40px;
}

.Dates {
  justify-content: first baseline;
  align-items: center;
} 
.dateDisp{
  display: none;
}
  .DateCol {
    width: 100px;
    height:30px;
    text-align: left;
  }
  
  /* results */
  .Results {
    // display: flex;
    justify-content: first baseline;
    align-items: center;
  }
  
  /* No-email container */
  .NoEmails {
    // display: flex;
    justify-content: center;
    align-items: center;
  }
  /* When there is emails how to arrange them */
  .Emails {
    // display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* Each individual email */
  .Email {
    border-bottom: 1px solid grey;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    direction: ltr;
    width: 100%;
    // justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .EmailTitles {
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    padding: 10px 0;
    font-weight: bold;
    display: -webkit-box;
    // display: flex;
    // flex-direction: row;
    direction: ltr;
    width: 100%;
    background-color: #e7e7e7;
  }

  #emailTitles:hover {
    background-color: #fbfbfb;
    color: black;
    cursor: default;
  }

  .Title{
    width: 100px;
  }

  .FromWidth {
    width: 180px;
    margin-left: 10px;
    text-align: left;
  }

  .FromCol{
    width: 180px;
    margin-left: 10px;
    text-align: left;
  }

  .ToWidth {
    width: 330px;
    text-align: left;
  }

  .ToCol{
    width: 330px;
    text-align: left;
  }

  .SubWidth{
    width: 420px;
    text-align: left;
  }

  .SubCol {
    width: 420px;
    text-align: left;
    padding-top: 25px;
  }
  .Attachment{
    width:50px;
  }

  .DateWidth{
    width: 100px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
  }

  .DateCol {
    width: 100px;
    text-align: left;
    font-size: 18px;
    padding-top: 25px;
    font-weight: 700;
  }

  #title:hover{ 
    background-color: orange;
    color: green;
    cursor: pointer;
  }
  
  

  li {
    padding: 8px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
  }
  
  ul {
    width: 100%;
    list-style: none;
    
    margin: 0px;
    padding: 0;
  }

  ol {
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    width: 100%;
    display: -webkit-box;
      // justify-content: space-around;
  }
  
  ol:hover {
   color: rgb(15, 15, 255);
   background-color: rgb(235, 235, 235);
   cursor: pointer;
  }
}
  @media(max-width:428px) {

    .flexSearch{
      display: flex;
    }
    .flex {
      display: flex;
    }

    .flexFix {
      display: block;
    }

    .search_bar {
      margin-left: 20px;
      margin-top: 10px;
    }

    .Search_Container {
      margin-top: 10px;
    }

    .Search{
      width: 23px;
    }

    .Resultscon {
      margin-left: 20px;
    }

    .EmailTitles {
      padding: 10px 0 10px 15px;
    }

    .EmailContainer{
      margin: 0;
    }

    .emailimg{
      width: 18px;
    }

    .FromWidth {
      width: auto;
      margin-top: 10px;
      padding: 0 10px 0 0;
      height: 20px;
      margin-left: 5px;
      border-right: solid 1px #878787;
    }

    .FromCol {
      width: 200px;
      text-align: left;
      font-weight: 700;
    }

    .dateDisp{
      display: block;
      width: 110px;
      font-size: 17px;
      font-weight: 700;
    }

    .ToWidth {
      width: auto;
      height: 20px;
      padding: 0 10px 0 0;
      margin: 10px 0 10px 10px;
      border-right: solid 1px #878787;
    }

    .ToCol {
      width:200px;
      text-align: left;
      padding-left: 17px;
    }

    .SubWidth {
      width: auto;     
      height: 20px;
      padding: 0 10px 0 0;
      margin: 10px 0 10px 10px;
      border-right: solid 1px #878787;
    }

    .SubCol {
      margin:0;
      width:340px;
      text-align: left;
      font-size: 25px;
      padding:8px 0 8px 0;
    }

    .MessageSum,.Attachment{
      width: 0;
      height:0;
      margin:0;
      padding:0;
    }

    .Attachment{
      width:auto;
    }

    .DateWidth {
      width: auto;
      height: 20px;
      padding: 0 10px 0 0;
      margin: 10px 10px;
      border-right: solid 1px #878787;
    }

    .DateCol {
      display: none;
      // width: 100px;
      // height:100px;
      // text-align: left;
    }

    .DateCol:after {
      content: "  >";
      color: #c7c7c7;
    }
    ol {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0 5px;
  }
}
